$social-img: url("./../../images/social.png");

footer {
  .contacts {
    position: relative;

    .contacts-form__forMap {
      padding: 100px 0 100px 0;
      position: relative;
      z-index: 1;
      background-color: $darkOpacity;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .contacts-form {
        height: 435px;
        width: 945px;
        background-color: $darkOpacity;
        display: flex;
        padding: 80px 0 80px 0;

        p {
          color: #f3f3f3;
          font-size: 16px;
          font-family: $latoLight;
        }

        .contacts-container {
          max-width: 200px;
          margin-left: 90px;

          p {
            margin: 0;
          }

          p:first-child {
            margin-bottom: 35px;
          }

          a {
            display: block;
            text-decoration: none;
            color: #f3f3f3;
            font-size: 16px;
            font-family: $latoLight;
          }

          a:hover {
            color: white;
          }

          p:nth-child(4) {
            margin: 35px 0 0 0;
          }
        }

        input {
          border: 1px solid $greyOpacity;
          background: transparent;
          max-width: 239px;
          font-size: 16px;
          color: #b7b7b7;
          height: 50px;
          padding-left: 20px;
        }

        ::placeholder {
          font-size: 16px;
          color: #b7b7b7;
          font-family: $latoLight;
        }

        textarea {
          width: 100%;
          height: 144px;
          border: 1px solid $greyOpacity;
          background: transparent;
          font-size: 16px;
          color: #b7b7b7;
          resize: none;
          padding: 20px;
        }

        .forms {
          width: 490px;
          display: flex;
          flex-direction: column;
          margin-left: 67px;

          form {
            div:first-child {
              display: flex;
              justify-content: space-between;
              margin-bottom: 15px;
              position: relative;

              input {
                width: 239px;
              }

              .triangle {
                position: absolute;
                border: 5px solid transparent;
                border-top: 5px solid white;
                top: 22px;
                left: 94%;
                cursor: pointer;
                z-index: -1;
              }

              .triangle:hover + .triangle:focus {
                border-top: 5px solid white;
              }
            }

            div:nth-child(3) {
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .checkbox-container {
                margin: 0;

                label {
                  display: flex;
                  align-items: center;
                  color: #b7b7b7;
                  font-size: 16px;
                  font-family: $latoLight;
                  margin: 0;
                }

                input[type="checkbox"] {
                  position: absolute;
                }

                input[type="checkbox"] + label {
                  position: relative;
                }

                input[type="checkbox"] + label::before {
                  content: '';
                  cursor: pointer !important;
                  position: relative;
                  display: inline-block;
                  margin-right: 10px;
                  width: 25px;
                  height: 25px;
                  border: 1px solid $greyOpacity;
                }

                input[type="checkbox"]:checked + label::after {
                  content: '';
                  cursor: pointer;
                  position: absolute;
                  top: 8px;
                  left: 6px;
                  border-left: 2px solid #e4c611;
                  border-bottom: 2px solid #e4c611;
                  height: 6px;
                  width: 13px;
                  transform: rotate(-45deg);
                }
                input[type="checkbox"]:checked + label {
                  color: #e4c611;
                }

                input[type="checkbox"]:focus + label::before {
                  outline: none;
                  color: white;
                }

                input[type="checkbox"] {
                  position: absolute;
                  height: 1px;
                  width: 1px;
                  overflow: hidden;
                  clip: rect(1px, 1px, 1px, 1px);
                }
              }

              input[type=submit] {
                height: 50px;
                width: 120px;
                background-color: #ffff00;
                color: #373737;
                font-family: $latoLight;
                text-align: center;
                padding: 0;
              }

              input[type=submit]:hover {
                background: #e4c611;
              }
            }
          }
        }
      }
    }

    #map {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
    }
  }

  .footer {
    height: 64px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 5px;

    p {
      margin: 0 0 0 30px;
      letter-spacing: 0.4px;
      font-size: 16px;
      color: #7a7a7a;
    }

    ul {
      display: flex;
      margin-right: 30px;
      margin-bottom: 0;

      a {
        display: inline-block;
        margin: 10px;
        width: 20px;
        height: 20px;
      }

      li:first-child {
        a {
          background: $social-img;
          margin-left: 0;
        }
      }

      li:nth-child(2) {
        a {
          background-image: $social-img;
          background-position: 105px;
        }
      }

      li:nth-child(3) {
        a {
          background-image: $social-img;
          background-position: 63px;
        }
      }

      li:nth-child(4) {
        a {
          background-image: $social-img;
          background-position: 20px;
          margin-right: 0;
        }
      }
    }
  }
}